# Pandas = numpy + matplotlib
# reactangular data

In [1]:
#####- Import pandas
import pandas as pd

# Pandas built on top of numpy & matplotlib

Tabular Data > df

In [3]:
import os
import pathlib
base_path = str(pathlib.Path().absolute())
input_path=base_path +'\\input\\'

#List down the files
for dirname, _, filenames in os.walk(input_path):
    for filename in filenames:
        print(os.path.join(dirname, filename))

\input\commercial_loan_data.csv
\input\loan_payments_data.csv

In [4]:
#####- Loading Commercial loan data CSV file into pandas df & reading sample data
commercial_loan_data = pd.read_csv(input_path+"commercial_loan_data.csv")
commercial_loan_data.head(2)
commercial_loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   realtime_start  81 non-null     object
 1   realtime_end    81 non-null     object
 2   date            81 non-null     object
 3   value           81 non-null     int64
dtypes: int64(1), object(3)
memory usage: 2.7+ KB

In [5]:
#####- Loading loan payment data CSV file into pandas df & reading sample data
loan_payment_data = pd.read_csv(input_path+"loan_payments_data.csv")
loan_payment_data.head(2) #print 1st 2 elements of df
loan_payment_data.info() # lists dataset details like no of rows/column names & its dtypes etc
loan_payment_data.shape # gives no of rows/columns for the dataset
loan_payment_data.describe() #basic summary stats for the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Loan_ID         500 non-null    object
 1   loan_status     500 non-null    object
 2   Principal       500 non-null    int64
 3   terms           500 non-null    int64
 4   effective_date  500 non-null    object
 5   due_date        500 non-null    object
 6   paid_off_time   400 non-null    object
 7   past_due_days   200 non-null    float64
 8   age             500 non-null    int64
 9   education       500 non-null    object
 10  Gender          500 non-null    object
dtypes: float64(1), int64(3), object(7)
memory usage: 43.1+ KB

         Principal       terms  past_due_days         age
count   500.000000  500.000000      200.00000  500.000000
mean    943.200000   22.824000       36.01000   31.116000
std     115.240274    8.000064       29.38088    6.084784
min     300.000000    7.000000        1.00000   18.000000
25%    1000.000000   15.000000        3.00000   27.000000
50%    1000.000000   30.000000       37.00000   30.000000
75%    1000.000000   30.000000       60.00000   35.000000
max    1000.000000   30.000000       76.00000   51.000000

In [7]:
#####- DF - 3 major components : values/columns/index
print(loan_payment_data.values) # values in df
print(loan_payment_data.columns) # columns in df
print(loan_payment_data.index)

[['xqd20166231' 'PAIDOFF' 1000 ... 45 'High School or Below' 'male']
 ['xqd20168902' 'PAIDOFF' 1000 ... 50 'Bechalor' 'female']
 ['xqd20160003' 'PAIDOFF' 1000 ... 33 'Bechalor' 'female']
 ...
 ['xqd20160498' 'COLLECTION_PAIDOFF' 800 ... 30 'college' 'male']
 ['xqd20160499' 'COLLECTION_PAIDOFF' 1000 ... 38 'college' 'female']
 ['xqd20160500' 'COLLECTION_PAIDOFF' 1000 ... 28 'High School or Below'
  'male']]
Index(['Loan_ID', 'loan_status', 'Principal', 'terms', 'effective_date',
       'due_date', 'paid_off_time', 'past_due_days', 'age', 'education',
       'Gender'],
      dtype='object')
RangeIndex(start=0, stop=500, step=1)

In [8]:
#####- Sorting & Subsetting of df

#####- Sorting by single value
loan_payment_data.sort_values("past_due_days",ascending=False).head(5) #Sort based on column values.
######- Sorting by multiple values
loan_payment_data.sort_values(["past_due_days","education"],ascending=[False,True]).head(5) #Sort based on column values.

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender
304,xqd20160305,COLLECTION,800,15,9/9/2016,9/23/2016,NaN,76.0,24,Bechalor,male
300,xqd20160301,COLLECTION,1000,15,9/9/2016,9/23/2016,NaN,76.0,29,college,male
303,xqd20160304,COLLECTION,800,15,9/9/2016,9/23/2016,NaN,76.0,27,college,male
319,xqd20160320,COLLECTION,1000,15,9/10/2016,9/24/2016,NaN,75.0,24,Bechalor,male
305,xqd20160306,COLLECTION,1000,15,9/10/2016,9/24/2016,NaN,75.0,31,High School or Below,female

In [9]:
#####- Subsetting
loan_payment_data["education"].unique() #distinct values for attribute education.
#####- Subsetting multiple columns
lpd =loan_payment_data.drop_duplicates(['education','Gender']) #goal is to subset by multiple columns but remove dups.
lpd[['education','Gender']]

               education  Gender
0   High School or Below    male
1               Bechalor  female
3                college    male
4                college  female
5        Master or Above    male
21  High School or Below  female
26              Bechalor    male

In [8]:
#####- Subset rows
#Option 1:
lpd_deg_hold = loan_payment_data[(loan_payment_data["education"]=='college') | (loan_payment_data["education"]=='Bechalor')]
print(lpd_deg_hold.shape) #287/500 loan overdue are ppl with degreee/college

#Option 2
loan_payment_data[loan_payment_data["education"].isin(['college','Bechalor'])].shape

(287, 11)

(287, 11)

In [15]:
#Adding New columns
loan_payment_data['loan_status_lower'] = loan_payment_data['loan_status'].str.lower()
print(loan_payment_data.head(2))

       Loan_ID loan_status  Principal  terms effective_date   due_date  \
0  xqd20166231     PAIDOFF       1000     30       9/8/2016  10/7/2016
1  xqd20168902     PAIDOFF       1000     30       9/8/2016  10/7/2016

     paid_off_time  past_due_days  age             education  Gender  \
0  9/14/2016 19:31            NaN   45  High School or Below    male
1   10/7/2016 9:00            NaN   50              Bechalor  female

  loan_status_lower
0           paidoff
1           paidoff